<settings>
  <profiles>
    <profile>
      <id>knowshare</id>
      <repositories>
        <repository>
          <id>ks-repository</id>
          <name>ks-repository</name>
          <url>https://ks-repository.appspot.com</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>knowshare</activeProfile>
  </activeProfiles>

  <servers>
    <server>
      <id>ks-repository</id>
      <username>miguel</username>
      <password>miguel</password>
    </server>
  </servers>

</settings>